/*GLOBAL*/

* {
    /* border: 1px solid red; */
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #1f2937;
}

a {
    text-decoration: none;
}
button {
    color: #fff;
    background: #3882f6;
    width: 100px;
    padding: 4px;
    border-radius: 5px;
    border-color: #3882f6 ;
    border-style: solid;
}

/* HEADER CLASSES*/
.header {
    display: flex;
    justify-content: space-around;
}
.header a {
    color: #fff;

}
.left-header a{
    font-size: 24px;
    font-weight: bold;
}

.right-header  {
    display: flex ;
    justify-content: space-between;
    width: 400px;
    align-items: center;
 }
 /*SECTIONS*/
 .sections {
    display: flex;
    flex-direction: column;

 }
 
 /*SECTION ONE CLASSES*/

 .section-one {
    justify-content: space-around;
    align-items: center;
    color: #fff;
    display: flex;
    padding: 70px;
 }
 .main-text {
    font-size: 48px;
   
 }
 .one-left {
    display: flex;
    flex-direction: column;
    width: 400px;
 }
 .sectionone-img {
    width: 450px;
    height: 160px;
    display: flex;
  
 }
 /*SECTION TWO CLASSES*/
 .section-two {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
 
 }
 .sectwo-container img {
    height: 100px;
    width: 100px;
 }
 .sectwo-container {
    display: flex ;
   
    justify-content: space-around;
 }
.two-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two-img p {
    width: 120px;
}
/*SECTION THREE CLASSES*/
.section-three {
    background: #e5e7eb;
    font-size: 36px;
    font-style:italic;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 70px;
    align-items: center;
    width: ;
}
.section-three .three-item1 {
    width: 900px;
}
.three-item2 {
    align-self: flex-end;
    font-weight: bold;
    
}
/*SECTION FOUR CLASSES*/
.secfour-container {
    background: #fff;
    padding: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
}
.blue-container {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 900px;
}
.blue-container button {
    border-color: #fff;
}
/*FOOTER CLASSES*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
}